@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "popins", sans-serif;
}

.contact {
  position: relative;
  min-height: 100vh;
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact {
  background-color: #1e1e1e;
}

.contact .content-contact {
  padding-bottom: 30px;
  padding-right: 20%;
  max-width: 800px;
  text-align: center;
}

.contact .content-contact h2 {
  font-size: 48px;
  font-weight: 500;
  color: #fff;
}

.contact .container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.contact .container .contactInfo {
  padding-bottom: 50px;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.contact .container .contactInfo .box {
  position: relative;
  padding: 20px 0;
  display: flex;
}

.contact .container .contactInfo .box .icon {
  min-width: 60px;
  height: 60px;
  background: #1e1e1e;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 22px;
}

.contact .container .contactInfo .box .text {
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  color: #fff;
  flex-direction: column;
  font-weight: 300;
}

.contact .container .contactInfo .box .text h3 {
  font-weight: 300;
  color: orangered;
}

.contact .container .contactInfo .box .text p {
  color: #fff;
}

.contactForm {
  width: 40%;
  padding: 40px;
}

.contactForm h2 {
  text-align: center;
  font-size: 30px;
  color: #fff;
  font-weight: 500;
}

.contactForm .inputBox {
  position: relative;
  width: 100%;
  margin-top: 10%;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea {
  background: transparent;
  border: none;
  width: 100%;
  color:#fff;
  font-size: 16px;
  margin: 10px 0;
  border-bottom: 2px solid orangered;
  outline: none;
  resize: none;
}

.contactForm .inputBox span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #fff;
}

.contactForm .inputBox input:focus ~ span,
.contactForm
  .inputBox
  input:valid
  ~ span
  .contactForm
  .inputBox
  textarea:focus
  ~ span,
.contactForm .inputBox textarea:valid ~ span {
  color: #f04e23;
  font-size: 16px;
  transform: translateY(-22px);
}

.contactForm .inputBox input[type="submit"] {
  width: 100px;
  background: orangered;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
  transition-duration: 0.7s;
}

.contactForm .inputBox input:hover[type="submit"] {
  background: transparent;
  border:1px solid orangered;
}

#icon{
    color:orangered;
}