@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: #1e1e1e;
}

.topo{
    display: flex;
    align-items: center;
    padding: 18px;
    justify-content: space-between;
}

.logo{
    width: 60px;
    border-radius: 50%;
}

.menu{
    display: flex;
    align-items: center;
    gap: 25px;
    justify-content: center;
}

.link{
    text-decoration: none;
    color: #f6550c;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 400;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s;
    padding-bottom: 5px;
}

.link::after{
    content: " ";
    width: 0%;
    height: 4px;
    background-color: #f6550c;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ease-in-out;
}

.link:hover::after{
    width: 100%;
}

.link:hover {
    -webkit-transform: translateY(-8px);
    -moz-transform: translateY(-8px);
    -ms-transform: translateY(-8px);
    -o-transform: translateY(-8px);
    transform: translateY(-8px);
}

.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.livro{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 35px;
    align-items: center;
}

.conteudo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.capa_livro{
    width: 310px;
    height: 450px;
}

.capa_pdf{
    width: 100%;
    height: 100%;
    border: 1px solid #f6550c;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.infos{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    gap: 25px;
    padding: 15px;
}

.download{
    width: 100%;
    padding: 25px 30px;
    border-radius: 8px;
    background: #f6550c;
    border: 3px solid #f6550c;
    color: white;
    transition: 0.5s ease-in-out;
    text-align: center;
    text-decoration: none;
    outline: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.download:hover{
    background: transparent;
    color: white;
    border: 2px solid #f6550c;
    border-left: 13px solid #f6550c;
}

.titulo{
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 60px;
}

.rodape{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 50px;
    border-top: 2px solid #f6550c;
}

.titulo-rodape{
    color: whitesmoke;
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

#book{
    color: whitesmoke;
    font-size: 150px;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 60px;
    gap: 30px;
}

.text_infos{
    color: white;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.titulo_info{
    border-top: 2px solid  #f6550c;
    padding-top: 15px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
}

.sinopse{
    padding: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
}